<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9d9812b8-aa40-406e-965a-e865e9eb9ac4/resourceGroups/DefaultResourceGroup-DEWC/providers/Microsoft.Web/sites/TravelPlannerapp</ResourceId>
    <ResourceGroup>DefaultResourceGroup-DEWC</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://travelplannerapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3aff8592-c8f3-4a09-a527-203c2335e5e0</ProjectGuid>
    <PublishUrl>https://travelplannerapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TravelPlannerapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>